.grid {
    width: 300px;
    height: 300px;
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
}

.invader {
    background-image: url('invader.png'); /* Substitua pela sua imagem */
    background-size: cover;
    border-radius: 10px;
}

.shooter {
    background-image: url('nave.png'); /* Imagem da nave */
    background-size: cover;
    background-position: center;
}

.laser {
    background-color: orange;
}

.boom {
    background-image: url('explosion.png'); /* Imagem de explosão */
    background-size: cover;
}
